<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Sortir{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/icon.png') }}">
    
    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.tailwindcss.com"></script>
            
        {% endblock %}
</head>
<body>
{% if app.request.attributes.get('_route') not in ['app_login' , 'app_erreur']%}

    <header>
        {% include("inc/nav.html.twig") %}
    </header>
{% endif %}
    <main>
    {% block body %}
    
    {% endblock %}
    </main>
    <footer>
    </footer>  
</body>
</html>