<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Sortir{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/icon.png') }}">
</head>
<body>
<header>


    </header>
    <main>
    {% block body %}
    
    {% endblock %}
    </main>
    <footer>
    </footer>  
</body>
</html>